 body {
     background-color: black
 }

 #homeDiv {
     width: 100%;
     text-align: center;
     position: relative;
     top: 240px;
     font-family: "Helvetica";
     height: 100vh;
 }

 #portfolio {
     height: 300px;
 }

 #portfolioHeader {
     font-size: 200%;
     color: blue;
     width: 100%;
     text-align: center;
     font-family: "Helvetica";
     position: relative;
     top: 275px;
 }

 #portfolioArrow {
    width: 25px;
    height: 25px;
    position: relative;
    top: 300px;
}

 #portfolioImg {
     height: 230px;
     width: 400px;
     padding-right: 100%;
     padding-bottom: 130px;
     position: relative;
     top: 20px;
     left: 50px;
 }
 #portfolioTitle {
    font-size: 200%;
    position: relative;
    left: 150px;
    color: white;
    top: -400px;
 }

 #portfolioText {
    position: relative;
    left: 500px;
    color: white;
    top: -400px;
    width: 700px;
    font-size: 125%;
 }

 h1{
     color: white;
     font-family: "Palatino";
     font-size: 320%;
 }

 #navLink {
     color: blue;
     font-size: 200%;
     padding-right: 75px;
     padding-left: 75px;
     text-decoration: none;
 }

 #grey {
     color: grey
 }