 body {
     background-color: black
 }

 #homeDiv {
     width: 100%;
     text-align: center;
     position: relative;
     top: 240px;
     font-family: "Helvetica"
 }

 h1{
     color: white;
     font-family: "Helvetica";
     font-size: 300%;
 }

 a {
     color: blue;
     font-size: 200%;
     padding-right: 75px;
     padding-left: 75px;
     text-decoration: none;
 }

 #grey {
     color: grey
 }